#settings.ini
.vscode

# backend
/backend/base.db
/backend/static
**/__pycache__
**/migrations

# frontend
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/node_modules/